<!DOCTYPE html>
<html>
  <head>
    <title>Lesson3App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <% if session[:user_id] %>
      <li><a href="/posts/new">投稿</a></li>
      <li>ログアウト</li>
    <% else %>
      <li>会員登録</li>
      <li>ログイン</li>
    <% end %>
  </ul>
    <%= yield %>
  </body>
</html>
